<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Love For All, Hatred For None.</string>
	<string>Change the world by being yourself.</string>
	<string>Every moment is a fresh beginning.</string>
	<string>Never regret anything that made you smile.</string>
	<string>Die with memories, not dreams.</string>
	<string>Everything you can imagine is real.</string>
	<string>Simplicity is the ultimate sophistication.</string>
	<string>All limitations are self-imposed.</string>
	<string>Reality is wrong, dreams are for real.</string>
	<string>Let the beauty of what you love be what you do.</string>
	<string>When words fail, music speaks.</string>
</array>
</plist>
